<div>
  <div class="fw-bold mb-2">Learn</div>

  <div class="list-group mb-3">
    <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/learn/start">Start Here</a>
  </div>

  <div class="text-uppercase small text-secondary mt-3 mb-2" style="letter-spacing:.08em;">Systems</div>

  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/learn/plumbing">Plumbing</a>
    <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/learn/electrical">Electrical</a>
    <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/learn/hvac">HVAC</a>
    <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/learn/repairs">Repairs</a>
  </div>
</div>
